################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.user
*.targets
/bin/Debug/staging/vs
/.vs
